:root{
    --verde:#00A149;
    --blanco:#fff;
    --negro:#000;
    --titulos:'Arima',cursive;
    --parrafos: 'Mulish', sans-serif;
}

html{
    box-sizing: border-box;
    /*1rem = 10px*/
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    overflow-x: hidden;
}
*,*::after, *::before{
    box-sizing: inherit;
}

/*globales*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
h1,h2{
    font-family: var(--titulos);
}
h3,p,a{
    font-family: var(--parrafos);
}
img{
    max-width: 100%;
}
.verde{
    color: var(--verde);
}

.ocultar{
    display: none;
}

.btn-cerrar{
    font-size: 3rem;
    font-weight: bold;
    color: var(--blanco);
    position: absolute;
    top: 0;
    right: 5rem;
    user-select: none;
}
.pantalla-completa {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 4;
}

@keyframes desplazamiento {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

.btn-cerrar:hover{
    cursor: pointer;
}

.btn{
    text-decoration: none;
    color: var(--blanco);
    font-size: 2rem;
    text-transform: capitalize;
    padding: 1rem 4rem;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

@media(min-width:768px){
    .btn{
        font-size: 2.2rem;
    }

}
.bordes{
    border:  3px solid var(--blanco);
}

@media(min-width:768px){
    .bordes{
        border:  4px solid var(--blanco);
    }

}
.bordes:hover{
    color: var(--verde);
    background-color: var(--blanco);
}

.btnVerde{
    background-color: var(--verde);
    font-weight: bold;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    display: inline-block;
    margin-bottom: 2rem;
    font-family: var(--parrafos);
}
/*encabezado*/
.contenedorNavegacion{
    background-color: var(--negro);
    position: relative;
    z-index: 5;
}

.contenidoNavegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h2, .navegacion a{
    font-size: 3rem;
    color: var(--blanco);
}

.navegacion a{
    text-decoration: none;
    font-size: 2.2rem;
    padding: 1.5rem;
    padding-left: 4rem;
    display: block;
    transition: color .5s ease-in-out;
    text-align: center;
}
@media(min-width: 768px){
    .navegacion a{
        text-align: left;
    }
}

.navegacion a:nth-child(odd):hover{
    color: var(--verde);
}

.navegacion a:nth-child(even){
    color: var(--verde);
}

.navegacion a:nth-child(even):hover{
    color: var(--blanco);
}

.navegacion a:first-of-type{
    margin-top: 3rem;
}

.navegacion {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 40rem;
    padding: 3rem 4rem;
    background-color: var(--negro);
    animation: desplazamiento .5s ease-in-out;
}

.menuNavegacion:hover{
    cursor: pointer;
}
.menuNavegacion span{
    background-color: var(--blanco);
    display: block;
    width: 4rem;
    height: .5rem;
    margin-bottom: .5rem;
}

/*video*/
.contenidoHeader{
    position: relative;
}

.contenidoHeader::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}

.textoEncabezado{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.textoEncabezado h2{
    color: var(--blanco);
    font-size: 4rem;
}

@media(min-width: 768px) {
    .textoEncabezado h2{
        font-size: 8rem;
    }
}

video{
    width: 100%;
    height: 100%;
}

/*sobre nosotros*/

.contenedorSobreNosotros{

    padding-top: 5rem;
}

@media(min-width:768px){
    .contenedorSobreNosotros{
        display: flex;
        justify-content: space-between;
    }

}
.textoNosotros, .imagenes-nosotros{
    flex: 0 0 calc(50% - 1rem);
}
.textoNosotros .bienvenida{
    font-size: 4rem;
    color: var(--verde);
    text-align: center;
}
@media(min-width:768px){
    .textoNosotros .bienvenida{
        text-align: left;
    }

}

.textoNosotros h1{
    font-size: 5rem;
    text-align: center;
}
@media(min-width:768px){
    
    .textoNosotros h1{
        text-align: left;
    }
}

.textoNosotros p {
    font-size: 2rem;
    text-align: center;
}
@media(min-width:768px){
    .textoNosotros p{
        text-align: left;
    }

}

.imagenes-nosotros{
    display: flex;
    justify-content: space-between;
}
.imagenes-nosotros img{
    border-radius: 5px;
}

.imagen1, .imagen2{
    flex: 0 0 calc(50% - 1rem);
}

.imagen2 img{
    margin-bottom: 2rem;
}

/*camisas*/
.textoCamisas{
    text-align: center;
    font-size: 5rem;
}

.catalogo{
    padding-top: 4rem;
}
.botonesCatalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.botonesCatalogo button{
    flex: 0 0 calc(50% - 1rem);
    padding: 1rem 3rem;

}
@media(min-width:768px){
    .botonesCatalogo{
        display: inline-block;
    }
    .botonesCatalogo button{
        flex: unset;
    }

}
@media(min-width:768px){
    .camisas{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

}
.camisa{
    flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid #e1e1e1;
    padding: 1rem;
    border-radius: 10px;
}

.camisa h2 {
    text-align: center;
}

.camisa img {
    max-width: 100%; 
    min-width: auto; 
    min-height: auto; 
    max-width: 350px; 
    max-height: 350px; 
}


.precio{
    display: flex;
    justify-content: space-between;
}

.precio p{
    font-weight: bold;
    font-size: 2rem;
}
.precio button{
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background-color: var(--verde);
    color: var(--blanco);
    font-family: var(--parrafos);
}
.clientes {
    position: relative;
    background-image: url(../img/fondo2.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 0.5rem;
    margin-top: 0.6rem;
}

.clientes::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1;
}

.clientes > * {
    position: relative;
    z-index: 2;
}

.contenidoClientes{
    padding: 5rem;
}

.contenidoClientes h2{
    font-size: 5rem;
    color: var(--blanco);
}

.contenidoClientes p{
    font-size: 3rem;
    color: var(--blanco);
}
.separador {
    position: relative;
    background-image: url(../img/fondo.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.separador::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1;
}

.separador > * {
    position: relative;
    z-index: 2;
}

.contenidoSeparador{
    padding: 5rem;
}

.contenidoSeparador h2{
    font-size: 5rem;
    color: var(--blanco);
}
.contenidoSeparador p{
    font-size: 3rem;
    color: var(--blanco);
}
.pie-de-pagina {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}

.contenido-pie {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.seccion-pie {
    flex: 1;
    padding: 20px;
    min-width: 250px;
}

.seccion-pie h2 {
    margin-bottom: 20px;
}

.seccion-pie p, .seccion-pie ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.seccion-pie ul li {
    margin-bottom: 10px;
}

.seccion-pie a {
    color: #fff;
    text-decoration: none;
}

.seccion-pie a:hover {
    text-decoration: underline;
}

.seccion-pie img {
    width: 30px;
    margin: 0 10px;
}

.pie-inferior {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #555;
}

.pie-inferior a {
    color: #fff;
    text-decoration: none;
}

.pie-inferior a:hover {
    text-decoration: underline;
}