* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e3f2fd;
    overflow: hidden;
}

.wrapper {
    width: 90vw; 
    max-width: 350px; 
    height: 70vh; 
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 7px;
    background: #293447;
}

.game-details {
    color: #b8c6dc;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.play-board {
    width: 100%;
    flex-grow: 1; /* Permite que el tablero crezca para llenar el espacio disponible */
    background: #212837;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
    background: #ff003d;
}

.play-board .head {
    background: #60cbff;
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 99%; 
        max-width: 350px; 
        height: 45vh; 
        display: flex;
        overflow: hidden;
        flex-direction: column;
        border-radius: 7px;
        background: #293447;
    }
    
  }